.env
.venv/
.DS_Store
__pycache__
*.log
*.code-workspace
frontend/node_modules
**/__pycache__/
.vscode/
CLAUDE.md
db.sqlite3
backend/api/migrations/**.py
# Temporary utility files
backend/data/data_validation.py