.env
.env.tailscale
.venv/
.DS_Store
__pycache__
*.log
logs/
*/logs/
.coverage
coverage.xml
coverage_html/
htmlcov/
*.code-workspace
frontend/node_modules
frontend/.next/
**/__pycache__/
.vscode/
db.sqlite3
logs/
.ruff_cache
.mypy_cache
.claude
